.footer {
    width: 100%;
    padding: 10px 20px;
    background-color: #b8a3a36e; /* Dark background */
    color: rgb(0, 0, 0); /* White text */
    font-size: 1rem; /* Sticks to the bottom */
    bottom: 0;
    left: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  }
  .license{
    text-align: center;
  }
  